.feature{padding: 90px 10px 0;}
.feature__heading {
	padding:0 40px;
}
.feature__video {
	margin:0 0 82px;
}
.feature__items {
	padding: 0 75px 16px;
}
.feature__item {
	padding: 73px 0 0;
	margin: 0 0 83px;
}
.item-figures {background: url("../img/icon-figures.png") 50% 0 no-repeat;}
.item-pencil {background: url("../img/icon-pencil.png") 50% 0 no-repeat;}
.item-tassel {background: url("../img/icon-tassel.png") 50% 0 no-repeat;}
.feature__item-description {
	font-size: 20px;
    line-height: 25px;
}
