@import url('https://fonts.googleapis.com/css2?family=Graphik:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #374754;
    --title-color: #252B42;
    --header-color: #fff;
	--button-color: #2091F9;
    font-family: 'Graphik', sans-serif;
    scroll-behavior: smooth;
}
img {
    display: block;
    width: 100%;
}
