.header {
  background: url("../img/background-small.png") no-repeat center;
  color: var(--header-color);
  min-height:834px;
  text-align: center;
  padding: 14px 9px 0;
  margin:auto;
}
.header__block {padding:0 40px;}
.header a {color: var(--header-color);}
.header__nav {
  font-size: 15px;
  line-height:28px;
  margin: 0 0 100px;
}
 .header__logo {
   weight: 186px;
   height: 58px;
   background: url("../img/logo.png") no-repeat;
   text-indent: -9999px;
}
.header__nav--menu,
.header__social {display: none;}