.newsletter {
    margin: auto;
    max-width: 1776px;
    padding: 45px 10px;
}

.newsletter__image {
    padding: 10px 20px 30px;
}

.newsletter__subtitle,
.newsletter__subtitle-alt,
.newsletter__form-label {
    font-size: 1.25em;
    color: var(--title-color);
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.newsletter__form-intro {
    font-size: 1.12em;
    margin: 10px;
    text-align: center;
    color: var(--main-text-color);
    text-align: center;
}

.newsletter__subtitle-alt,
.newsletter__title-alt {
    display: none;
}

.newsletter__form-container {
    padding: 10px 32px;
    width: 100%;
}

button.newsletter__form-button {
    margin: 0 0 10px;
    border: 0;
    width:100%;
}

.newsletter__form-input {
    background-color: var(--input-background-color);
    border-radius: 35px;
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    font-size: 0.87em;
    margin: 0 0 12px;
    padding: 15px 35px;
    width:100%;
}

@media (min-width: 800px) {
    
    .newsletter {
        display: flex;
        flex-direction: row;;
        justify-content: center;
        align-items: center;
    }
    
    .newsletter__subtitle,
    .newsletter__title,
    .newsletter__description {
        display: none;
    }
        
    .newsletter__subtitle-alt,
    .newsletter__title-alt {
        display: block;
    }
    
    .newsletter__form-container {
        display: flex;
        flex-direction: row;
    }
    
    .newsletter__form-input {
        margin: 0 10px 0 0;
    }
    
    .button.newsletter__form-button {
        margin: 0;
        width: 173px;
    }
    
    .newsletter__image {
        padding: 10px 40px;
    }
    
}